/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

body,
html{
    width: 100%;
    max-width: 100%;
    line-height: 1.5;
    font-family: 'Noto Sans TC', sans-serif;
}

*,*::before,*::after{
    box-sizing: border-box;
}

.page{
    min-width: 1920px;
    margin: 0 auto;
    padding: 0 24px;

}

img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}


.navbar{
    display:flex;
    justify-content: center;
    width: 100%;
    height: 90px;
    gap: 40px;
    padding-top: 24px;
    padding-right: 80px;
    padding-bottom: 24px;
    padding-left: 80px;
}
.navbar ul{
    display: flex;
    list-style: none;
}
.nav-item{
    color: black;
    text-decoration: none;
    font-size: 28px;
    line-height: 1.5;
    font-weight: 700;
    padding-left: 20px;
    padding-right: 209x;
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
}
.nav-item:hover{
    color: gray;
}

.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 90px);
    max-width: 1920px;
    width: 100%;
    flex-wrap: wrap;
}

.banner-photo{
    width: 50%;
    height: auto;
    object-fit: cover;
}

.banner-introduce{
    text-align: left;
    margin-left: 60px;
}
.banner-introduce time{
    font-size: 16px;
    line-height: 150%;
    gap: 4px;
}
.banner-intro-description{
    color: #0027d5;
    font-size: 24px;
    line-height: 150%;
    gap: 8px;
}
.highlight{
    display:inline-block;
    padding:6px 12px;
    font-size: 16px;
    line-height: 150%;
    font-weight: bold;
    color:#ffffff;
    border-radius:50px;
    background-color: #0027d5;
    gap: 8px;
}

.banner-intro-tittle{
    font-size: 28px;
    line-height: 150%;
    font-weight: bold;
    gap: 8px;
}
.container {
  max-width: 636px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
}

.blog-post{
    width: 636px;
    padding-bottom: 48px;
}

.blog-post h2{
    font-weight: 700;
    color: #0027d5;
    font-size: 28px;
    line-height: 150%;
    letter-spacing: 0%;
    padding-bottom: 12px;
}
.blog-post h3{
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
    padding-bottom: 12px;
}

.blog-post p{
    color: #000000;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    padding-bottom: 12px;
}

.highlight-blue{
    color: #0027d5;
}

.blog-post img{
    width: 636px;
    height: 320px;
    padding-bottom: 24px;
}

.blog-post ol,ul{
    padding-left: 1.5em;
    margin-left: 0;
    padding-bottom: 24px;
}
li::marker{
    font-size: 0.55em;
}

.frame{
    display:inline-block;
    margin-top: 24px;
    margin-bottom: 24px;
    padding: 24px 24px;
    font-size: 16px;
    line-height: 150%;
    font-weight: bold;
    color:#000000;
    border-radius:24px;
    background-color: #ededed;
    gap: 12px;
}

.post-navigation{
    display: flex;
    justify-content: space-between;
    margin: 40px auto;
    width: 636px;
}

.post-navigation a{
    text-decoration: none;
}

.button{
    color: #000000;
    display: inline-flex;
    align-items: center;
    padding: 8px 16px;
    border: 0.5px solid #000000;
    border-radius: 40px;
    font-size: 16px;
    line-height: 150%;
    background-color: #ffffff;
}
.icon{
    font-size: 24px;
    width: 24px;
    text-align: center;
    display: inline-block;
}

.button:hover{
    color: #ffffff;
    background-color: #000000;
}

.site-footer {
    border-top: 1px solid gainsboro;
    width: 1036px;
    margin: 80px auto 0 auto;
    padding-top: 80px;
    padding-bottom: 80px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 12px;
}
.email{
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0;
}
.social-list {
    display: flex;
    gap: 12px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.copyright {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 8px;
    font-size: 16px;
    color:#000000;
}

@media (max-width: 374px) {

    .page{
        max-width: 374px;
        padding: 0;
} 
    .navbar {
    flex-direction: column;
    gap: 12px;
    padding: 16px;
    height: auto;
}
    
    .banner {
    flex-direction: column;
    text-align: center;
}
    .baneer-photo
    .banner-introduce {
    width: 100%;
    margin-left: 0;
}
    
    .container,
    .blog-post,
    .post-navigation,
    .site-footer {
    max-width: 100%;
    width: 100%;
    padding: 0 16px;
}
    
    .footer-top {
    display: none;
}
    
    .copyright {
    font-size: 14px;
    padding-top: 24px;
}
        
    .social-list {
    display: none;
}
    
    .button {
    font-size: 14px;
    padding: 6px 12px;
}
    
    .icon {
    font-size: 18px;
    width: 18px;
}

.mobile {
    display: block;
}   

.desktio{
    display: block;


}